extends layout

block content
    h1 Delete a Thread
    form#delThread(name="delthread",method="post",action="/deletethread")
        input#threadId(type="text",value="#{threadId}", name="threadId")
        button#delThread(type="submit") submit
