doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css')
    link(rel='stylesheet', href='./stylesheets/style.css')
    script(type='text/javascript', src="http://code.jquery.com/jquery-2.1.4.js")
    script(type='text/javascript', src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.js")
    script(type='text/javascript', src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.js")
    script(type='text/javascript', src="./javascripts/frontend.js")

  body
    block content