extends layout

block content
    h1= title
    form#newThread(name="delthread",method="post",action="/deletethread")
        input#threadId(type="text",placeholder="Thread ID", name="username")
        textarea#postContent(rows="4", placeholder="Your Post", name="postcontent")
        button#newThread(type="submit") submit